@import url('./global.css');

footer {
    position: relative;
    background-image: linear-gradient(#cbcbcb); 
    border: none;
    width: 100%;
    height: 600px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 30px;
}
#fLogo {
    width: 100px;
    aspect-ratio: 1;
}
.logo-text > h1 {
    font-family: var(--title-font);
    font-size: 25px;
    font-weight: 700;
}
.paragraph {
    width: 50%;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    display: flex;
    align-items: center;
    justify-content: center;

}
.paragraph > p {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.frow-list {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.frow-wrapper {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 0 1%;
    
}
.frow-titles {
    font-family: var(--newtitle);
    font-weight: 700;
    color: var(--darkBlue);



}
.frow-wrapper > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 3%;

}
.frow-wrapper > ul > li > a {
    font-weight: 400;
    font-family: var(--subtitle-font);
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.frow-sub-cont {
    width: 30%;
    height: 100%;
    position: relative;
}
.sub-form {
    width: 100%;
    height: auto;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-button {
    padding: 10px;
    max-width: 150px;
    max-height: 50px;
    border-radius: 10px;
    color: white;
    background-color: var(--darkBlue);
    font-weight: 700;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    font-family: var(--newtitle);
    cursor: pointer;
}
.sub-button:hover {
    background-color: #02253b;
}

.ftrow-sect {
    width: 50%;
    padding: 0 3%;
}

.ftrow-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.ftrow-title {
    font-family: var(--newtitle);
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 700;

}
.terms-list {
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.terms-list > li > a {
    font-weight: 400;
    color: black;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    cursor: pointer;
}
.terms-list > li > a:hover { 
    text-decoration: underline;
}

.ftrow-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.socials-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.socials-list > li > a > img {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
}
.copyright {
    font-weight: 400;
    color: black;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

@media screen and (max-width: 1000px) {

    .mobile-logo {
    opacity: 1;
    pointer-events: all;
}
}