.footer {
  background: linear-gradient(to right, #093145, #1d4e89);
  color: white;
  padding: 40px 20px;
  height: 42vh;
}

.logo-nav {
    display: flex;
    display: flex;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

.footer-column h4 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.footer-column img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
}

.footer-bottom a {
  color: #ccc;
  margin: 0 5px;
  text-decoration: none;
}
