@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.margin {
    margin: 25% 0;
}
:root {
    --title-font: "Oswald", sans-serif;
    --subtitle-font: "Montserrat", sans-serif;
    --text-color: linear-gradient(to right, var(--lightYellow), var(--darkGreen));
    --nav-fontsize: 16px;


    --darkBlue: #033f63;
    --blueGreen: #28666e;
    --darkGreen: rgb(124, 152, 133);
    --lightGreen: #b5b682;
    --lightYellow: #fedc97;


}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--darkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerTitle {
   -webkit-text-fill-color: white;
   -webkit-background-clip: text;
   text-decoration: none;
   font-weight: 500;
}

.header-logo-cont > a {
    filter: drop-shadow(0px 0px 0px);
    text-decoration: none;
}

.header-logo-cont {
    width: 50%;
    height: 100%;
    position: relative;
}



#headerTitle {
    font-family: var(--title-font);
    font-size: 25px;
    margin-left: 10px;
}
.left-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.left-wrapper > img {
    width: 50px;
    aspect-ratio: 1;
}

.nav-list {
    width: 50%;
    height: 100%;
    position: relative;
}
.nav-list > ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
}
.nav-list > ul > * {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 100px;
}
.nav-list > ul > * > li {
    width: 100px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 100px;
}

.nav-list > ul > *:hover > li {
    background-color: var(--lightYellow);
    border-radius: 100px;
    color: black;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#accButton {
    width: 90px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    font-weight: 700;
    border-radius: 50px;
    background: var(--darkGreen);
    color: black;
    cursor: pointer;
}
#accButton:hover {
    filter: drop-shadow(0px 0px 10px var(--lightYellow));
    color: white;
}

.acc-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(124, 152, 133, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18);    
    border-radius: 50px;

    transition: all 0.3s ease;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    transform: translateX(50%);
    background-color: var(--darkBlue);
    box-shadow: -10px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 10;
    width: 50%;
    height: 95%;
    border-radius: 50px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
    
}

.slider-wrapper {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper > img {
    width: 50px;
    aspect-ratio: 1;
}

.popup-wrapper {
    width: 50%;
    height: 95%;
    border-radius: 50px;
    padding: 10px;
    /* background-color: red; */
}
.popup-form {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--subtitle-font);
}

.popup-form > input {
    width: 200px;
    height: 10px;
    padding: 20px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 3px 3px 10px var(--darkGreen);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid var(--darkGreen);
    color: black; 
    transition: all 0.3s ease;
}
.popup-form > input::placeholder {
    opacity: 1;
    color: black; 
    font-family: var(--subtitle-font);
}
.popup-form > input:focus {
    box-shadow: 0px 0px 0px black,
                2px 2px 5px black inset;
    transform: translateY(10px);
    transform: translateX(5px);
}

.popup-form > input::placeholder {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease;
}
.popup-form > input:focus::placeholder{
    left: 10%;
    transform: translateX(0%);
}

.sign-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--darkGreen);
    box-shadow: 3px 3px 10px black;
    font-family: var(--subtitle-font);
    font-weight: 700;
    color: black; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.sign-button:hover {
    background-color: var(--darkBlue);
    color: white;
}
.sign-button:active {
    transition: all 0.1s ease;
    box-shadow: 0px 0px 0px black;
    transform: translateY(5px);
    transform: translateX(5px);
}
.log-button {
    font-size: large;
}
.log-button:hover {
    background-color: var(--darkGreen);
    color: black;
}
.toggle:hover {
    background-color: var(--lightYellow);
}
.forgot-pass {
    font-family: var(--subtitle-font);
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.forgot-pass:hover {
    text-decoration: underline;
}
/* a {
   background: var(--text-color);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   filter: drop-shadow(0px 3px 5px black);
   text-decoration: none;
} */

