body {
    height: 150vh;
      margin: 0;
      background: linear-gradient(
        to bottom,
        #033F63 0%,
        #28666E 51%,
        #B5B682 100%
        );
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.account-button {
    background-color: #fdd835; /* Yellow account button */
    color: #333 !important;
}

.announcement-bar {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.announcement-button{
    background-color: #d4edda;
    color: #155724;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 30px;
    font-weight: bold; 
    background-image: linear-gradient(to left, #F1E816, #32A34A);
    box-shadow: 0 10px 20px rgba(196, 185, 185, 0.9); /* Add a subtle shadow */
}
.news-button {
    background-color: #d4edda50;
    color: hwb(0 100% 0%);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 30px;
}


.container {
    padding: 20px;
}

.main-announcement {
    background-color: #ffffff50;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    background-image: url('noise.png'), linear-gradient(#e0f2f750, rgba(161, 130, 130, 0.5)); 
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% 100%;
    background: overlay;    
}

.date-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon {
    font-size: 3em;
    margin-right: 15px;
}

.line{
    font-size: 100px;
    font-family:fantasy;
    color: white;
}

.date {
    text-align: center;
}

.month {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

.day {
    font-size: 3em;
    font-weight: bold;
    display: block;
}

.event-item {
    background-color: #ffffff50;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
}

.date-label {
    background-color: white;
    color: #006994;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bold;
}

.event-text {
    line-height: 1.4;
    margin-left: 25px;
}

.main-text{
    margin-left: 25px;
}

.line2{
    font-size: 50px;
    font-family:fantasy;
    color: white;
}