@import url('../global.css');

body {
    background: linear-gradient(var(--darkBlue) 50%,#32A34A) 100% repeat fixed;
    
    overflow-x: hidden;
    font-family: var(--subtitle-font);
}
.banner-container {
    background: url('../z-resources/h-resources/cover_nobg.png');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 50px black inset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.banner {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh;
    font-size: 20px;
    width: 40%;
}

.banner-container h1 {
    display: flex;
    background-color: var(--darkBlue);
    text-wrap: wrap;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 20px black;
}

.appointment-BTN{
    display: flex;
    align-items: center;
    justify-content: center;

}

.appointment-BTN button{
    color: black;
    
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease;
    font-family: var(--subtitle-font);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}



.appointment-BTN button:hover:not(:disabled) {
   
   background-color: #32A34A;
   color: white;

}


.booking{
    background-color: var(--blueGreen);
    padding: 20px;
    border-radius: 30px;
    text-align: left;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 20px black;
    width: 350px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.booking-container{

    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-left: 35px;
    padding-bottom: 27px;

}
#eTitle {
    font-weight: 700;
    text-align: center;
}
.emergency{

    background-color: var(--blueGreen);
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 350px;
}
.emergency > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
}
.cont-number:nth-child(1) {
    list-style-type: "📱";
}
.cont-number:nth-child(2) {
    list-style-type: "☎️";
}
.cont-number:nth-child(3) {
    list-style-type: "📧";
}
.emergency > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.emergency-container{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 35px;
    flex-direction: column;
    padding-bottom: 27px;
}

.hotlines-container {
    margin-top: 25%;
    width: 100%;
    height: 600px;

}
.hotlines-container > h1 {
    font-weight: 600;
    font-size: 3rem;
    color: white;
    text-align: center;
}
.hotlines-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.hotlines {
    width: 20rem;
    aspect-ratio: 13/6;
    background-image: linear-gradient(to bottom right, var(--blueGreen) 50%, var(--lightYellow));
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}


.hotlines > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hotlines > section > ul {
    list-style-type: none;
}

.hotlines > h3 {
    color: white;
    
}