.center-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    text-align: center; 
}

.center-container h1 {
    display: inline-block;
    background-color: rgb(211, 211, 211);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

.step-1{
    display: inline-block;
    background-color: rgb(211, 211, 211);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;

    position: relative; /* Allows precise positioning */
    left: 20%; /* Moves it slightly to the left */

}

.step-1 h2, h3{
    text-decoration: none; 
    border-bottom: 2px solid black;
    padding-bottom: 5px; 
    font-weight: bold;
}

