@import url('../global.css');

body {
  font-family: var(--subtitle-font);
}

.page {
    background: linear-gradient(to bottom, #28666e, #033f63);
    min-height: 100vh;
    

}
.img-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.img-text h1 {
  font-size: 5rem;
  margin: 0;
}

.img-text h6 {
  font-size: 1.5rem;
  margin: 0;
}


.container {
  padding: 20px;
}


.oval {
  background-color: white;
  border: 2px solid black;
  border-radius: 999px;
  padding: 8px 16px;
  display: inline-block;
  font-style: italic;
  text-transform: uppercase;
}


.content-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: nowrap;
}


.left-text {
  flex: 1;
  min-width: 150px;
  max-width: 200px;
  color: white;
}

.left-text p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  
  
}


.image-row {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}


.box {
  position: relative;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  text-align: center;
}
.box:hover {
  position: relative;
  width: 300px;
  border-radius: 20px;
 
  background: linear-gradient(to bottom, 
  #ef5350 ,
  #ab47bc,
  #651fff,
  #3949ab,
  #2196f3,
  #00bcd4,
  #4caf50,
  #ffc107);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  text-align: center;
  transform: scale(1.05); 
  transition: all 0.3s ease-in-out;
}
.box img:hover {
  min-width: 100px;
  min-height: 200px;
  border-radius: 15px;
  transform: scale(1.05); 
  transition: all 0.3s ease-in-out;
}
.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}


.title-oval {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  
  border: 2px solid black;
  border-radius: 30px;
  padding: 30px 15px;
  min-width: 270px;
  max-width: 270px ;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight-layout {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  position: relative;
  margin-top: 10px;
  flex-wrap: nowrap; 
}

.highlight-box {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1;
  text-align: center;
}

.highlight-box.center {
  width: 650px;
  transform: scale(1.1);
  z-index: 2;
  margin-left: -40px;
  margin-right: -40px;
  background-color: transparent;
  
}
.highlight-box.left {
  min-width: 250px;
  max-width: 500px;
  z-index: 1;
  margin-left: 5px;
  margin-right: 10px;
  box-shadow: none;
  text-align: left;
  box-shadow: 0px 5px 5px rgba(0, 0 , 0 , 1);
}
.highlight-box.right {
  min-width: 250px;
  max-width: 500px;
  z-index: 1;
  margin-left: 10px;
  margin-right: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0 , 0 , 1);
  text-align: right;
}

.highlight-box.center:hover {
  width: 650px;
  transform: scale(1.1);
  z-index: 2;
  margin-left: -40px;
  margin-right: -40px;
  background-color: transparent;
  box-shadow: none;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.highlight-box.center img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.tourism-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background-color: #c4c190; 
  border-radius: 20px;
  gap: 40px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}

.tourism-wrapper.otherbg{
  background-color: #28666e;
}

.tourism-left {
  flex: 1;
  min-width: 280px;
}

.label-oval {
  display: inline-block;
  background: #f1f1f1;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.tourism-left h2 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.tourism-left p {
  font-size: 1rem;
  margin: 15px 0;
  max-width: 400px;
  line-height: 1.5;
}

.see-more-btn {
  background-color: #033f63;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.see-more-btn:hover {

  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.see-more-btn span {
  font-size: 1.2rem;
}

.tourism-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  flex: 1;
  min-width: 350px;
  align-items: stretch;
}

.tourism-right .image-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.image-col.left img {
  flex: 1;
  height: 150px;
}

.image-col.right img {
  flex: 1;
  height: calc((150px * 3 + 30px - 15px) / 2);
}

.tourism-right img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}



.tourism-box {
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  flex-shrink: 0;
}.tourism-box:hover {

  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  transform: scale(1.05);
  transition: all 0.3 ease-in-out;
}

.tourism-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.tourism-title {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px 20px;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
  width:255px;
  min-height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.yel{
  background-color: #fedc97;
  color: black;

}
.drkB{

  background: var(--darkBlue);
  color: white;
  
}
.blG{
  
  background: var(--blueGreen);
  color: black;
  
}

.tourism-panel {
  position: fixed;
  top: 0;
  left: -100%; 
  width: 400px;
  height: 100%;
  z-index: 9999; 
  overflow-y: auto;
  transition: left 0.4s ease;

  background-color: var(--darkBlue);
  box-shadow: -10px 0px 10px black;
  display: flex;
  transition: all 0.5s ease;
  color: white; 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}

.tourism-panel.open {
  left: 0;
}

.tourism-panel-content {
  padding: 20px;
}

/* POPUP FOR THE BOTTOM IMAGES */
.tourism-panel img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;

  opacity: 0; 
  transition: opacity 0.6s ease-in-out;
}

.tourism-panel img.visible {
  opacity: 1;
}

.panel-text {
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  cursor: pointer;
  user-select: none;
}
