@import url('../../global.css');

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 0px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    overflow: hidden;
}
header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 15%;            
    width: 85%;
    height: 50px;
    border-bottom: 1px solid #36454F;
    background-color: white !important; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    z-index: 100;
}


.side-navigation {
    grid-area: sidebar;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: var(--darkBlue);
    font-family: var(--newtitle);
    z-index: 99;
}

.side-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FAF9F5;

}

.side-wrapper > img {
    width: clamp(20%, 50px, 50%);
    
}

.user-role {
    font-size: clamp(0.5rem, 1vw, 2rem);
    color: #FAF9F5;
    font-weight: 500;
}
.head-wrapper {
    height: 60%;
    width: clamp(20%, 300px, 50%);
    font-family: var(--newtitle);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.adm-profile, #profile {
    width: clamp(10%, 40px, 20%);
}
.adm-settings {
    width: clamp(5%, 20px, 20%);
    transition: all 0.5s ease;
    cursor: pointer;
}
.adm-settings:hover {
    transform: rotate(90deg);
}
.left {
    font-size: clamp(0.5rem, 1vw, 2rem);
}
.right {
    position: relative;
}
.admin-username {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.admin-navlist {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.admin-sidenav {
    font-family: var(--subtitle-font);
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    text-align: center;
    color: #FAF9F5;
    width: 80%;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

}
.admin-sidenav > img {
    width: clamp(10%, 20px, 30%);
    filter: invert();
}

.admin-sidenav:hover {
    background-color: #FAF9F5;
    color: var(--darkBlue);
    font-weight: 700;
}
.admin-sidenav:hover > img {
    filter: invert(11%) sepia(86%) saturate(3473%) hue-rotate(180deg) brightness(85%) contrast(104%);


}

.adm-employees {
    position: absolute;
    bottom: 0%;
}

.settings-popup {
    position: absolute;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
    padding: 20px;
    top: 100%;
    left: 10%;
    opacity: 0;
    pointer-events: none;
}

.settings-list {
    list-style-type: none;
    font-family: var(--subtitle-font);
    font-size: clamp( 0.5rem, 1vw, 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.settings-list > li {
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.settings-list > li:hover {
    background-color: rgba(3, 62, 99, 0.4);

}
.admin-content-container {
    grid-area: content;
    position: relative;
    width: 100%;
    height: 90%;
    top: 10%;
    right: 0;

    z-index: 10;
    overflow: auto; 

}

.member-content-container {
    padding-top: 1%;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

/* CONTENTS */

.admin-news-container {
    width: 80%;
    height: auto;
    padding: 5%;
    background-color: rgba(3, 62, 99, 0.432);
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.admin-news-item {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 3px 3px 1px black;
    background-image: url('../../admin-resources/newspaper.jpg');
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.headline-image {
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    position: relative;

}
.headline-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.headline-image:hover > img {
    transform: scale(1.1);
}
.headline-image-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #FAF9F5;
    width: auto;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    opacity: 0;
    pointer-events: 0; 
    transition: all 0.3s ease;
    overflow: hidden;
}
.headline-image-wrapper > img {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
}
.headline-image:hover > .headline-image-wrapper  {
    opacity: 1;
    pointer-events: 1;
    transform: translate(-50%, -50%);
}
.action-buttons {
    transition: all 0.3s ease;
}
.action-buttons:hover {
    filter: drop-shadow(2px 2px 1px black);
    transform: scale(1.04);  
}
.headline-wrapper {
    
    overflow: hidden;
    width: 80%;
    height: 20%;
    transition: 0.3s ease;
}
.headline-wrapper > small {
    font-family: var(--subtitle-font);
    font-weight: 500;
    font-style: italic;
    font-size: 10px;
    color: #36454F ;
}
.headline-title {
    font-family: var(--newtitle);
    font-size: 15px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.announce-list {
    width: 80%;
    border-collapse: collapse; 
    border: 1px solid black;
}

.announce-list th,
.announce-list td {
    font-family: var(--subtitle-font);
    background-color: rgba(3, 62, 99, 0.432);

    text-align: center;

    padding: 8px;
    font-size: clamp(0.3rem, 1vw, 1.5rem);
}
.announce-list th {
    color: white;
}
.announce-list td {
    color: black;
}

.announce-list thead {
    background-color: var(--darkBlue);
}
.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.actions > img {
    width: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: drop-shadow(1px 1px 1px black);
}
.actions > img:hover {
    transform: scale(1.1);
}

.add-news-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.add-news {
    width: 80%;
    height: auto;
    overflow:visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.add-buttons {
    background-color:#4caf50;
    padding: 0.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    font-family: var(--subtitle-font);
    font-weight: 600;
    font-size: clamp(0.3rem, 0.8vw, 1rem);
    transition: all 0.3s ease;
}
.add-buttons > img {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    transition: all 0.5s ease;
}
.add-buttons:hover {
    transform: scale(1.1);
}
.add-buttons:hover > img {
    transform: rotate(90deg);

}
.news-action-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 5%;
    border: 1px solid black;
    box-shadow: 3px 3px 1px black;
    background-image: url('../../admin-resources/newspaper.jpg');
    background-color: rgba(255, 255, 255, 1);
    
}
.news-action-form {
    width: 500px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.news-action-form > * {
    padding: 2%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    font-family: var(--subtitle-font);
}
.news-action-form > textarea {
    max-height: 100px;
    min-height: 100px;
}
#actionBtn {
    background-color: #4caf50;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#closePopup {
    background-color:#D2042D;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#updateBtn:hover {
    background-color: #378039;
}
#closePopup:hover {
    background-color:#83021c;
}
.delete-form {
    justify-content: center;
}
#deleteBtn {
    background-color: #D2042D;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#deleteBtn:hover {
    background-color: #83021c;
}
#delTitle {
    font-weight: 700;
}
.cancelBtn {
    background-color: #4caf50 !important;
}
.cancelBtn:hover {
    background-color: #378039 !important;
}

.headline-cont {
    width: 100%;
    border: 1px solid black;
}
#headlineTitle {
    font-weight: 600;
    font-family: var(--newtitle);
    font-size: clamp(0.7rem, 1.5vw, 2rem);
}

.description-cont {
    width: 100%;
    font-weight: 500;
    font-family: var(--subtitle-font);
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 1px black;
    max-height: 100px;
    min-height: 100px;
    text-align: justify;
    overflow-y: auto;
    
}