@import url('../global.css');

body {
    background-color: var(--blueGreen);
    overflow-x: hidden;
    color: white;
}
.side-navigation {
    position: fixed;
    right: 0;
    top: 30%;
    width: 50px;
    height: 250px;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}
.side-navigation > a {
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.side-navigation > a > img {
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.side-navigation > a:hover {
    background-image: linear-gradient(to right, var(--blueGreen), var(--lightGreen));
    border: 1px solid black;
}
.img-wrapper {
    position: absolute;
    left: 80%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 90%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
}
.img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    
}
.history {
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.history > img {
    width: 250px;
    aspect-ratio: 1;
}
.history-wrapper {
    width: 50%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.history-wrapper > h1 {
    font-family: var(--title-font);
    font-style: italic;
}
.history-wrapper > p {
    text-align: justify;
    font-style: italic;
    font-family: var(--subtitle-font);
}
.pdf-wrapper {
    margin: auto;
    width: 80%;
    height: 600px; /* or any height that fits your layout */
    overflow: hidden; /* prevent iframe from expanding beyond */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
iframe {
    width: 90%;
    height: 100%;
    margin: auto;
}

.officials-list {
    width: 100%;
    height: 3500px;
    padding-bottom: 50px;
    background-image: linear-gradient(var(--blueGreen) ,var(--lightYellow));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.title-wrapper {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.title-wrapper > h1 {
    font-family: var(--subtitle-font);
    font-size: 50px;
    font-weight: 700;
    
}


.member-line {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.member-wrapper {
    position: relative;
    overflow: none;
    gap: 30px;
    border-radius: 30px;
}
.member-wrapper > img {
    width: 400px;
    border-radius: 30px;

}
.member-wrapper > p {
    font-family: var(--subtitle-font);
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: black;
}

.higher-govt > img {
    width: 500px;
}
.higher-govt > .member-overlay > .member-list > li {
    font-size: 30px;
    list-style-type: none;
}

.member-wrapper:hover > .member-overlay {
    transform: translateY(0%);
    opacity: 1;
}

.member-overlay {
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    opacity: 0;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 94%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.member-overlay > * {
    font-family: var(--subtitle-font);
}
.member-name {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.member-list {
    width: 90%;
    height: 50%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: circle;
    font-weight: 600;
}
.member-list > li {
    font-size: 20px;
}

.vis-mis {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(to top, var(--blueGreen) ,var(--lightYellow));
    
}
.vis-mis > h2 {
    text-align: center;
    font-family: var(--title-font);
    font-style: italic;
    font-size: 50px;
    color: white;
    filter: drop-shadow(5px 5px 5px black);
}
.vm-wrapper {
    width: 70%;
    height: 300px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), var(--darkBlue));
    
}
.vision {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.mission {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: right;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.vismis-alignment {
    width: 50%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: var(--subtitle-font);
    font-weight: 500;
    font-size: 15px;
}

.barangays {
    width: 100%;
}
.btitle-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btitle-wrapper > h1 {
    font-family: var(--subtitle-font);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.blist-wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.blist-wrapper > ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(3, 63, 99, 0.3);
    border-radius: 10px;
}
.blist-wrapper > ::-webkit-scrollbar-thumb {
    background-color: rgba(254, 220, 151, 0.9);
    border-radius: 10px;
}
.barangay-list {
    overflow-y: hidden;
    margin-top: 50px;
    width: 50%;
    height: 50px; /* 400px */
    padding: 50px;
    font-family: var(--subtitle-font);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    line-height: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 10px black;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.barangay-list > li {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightYellow);
    color: black;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px black, 0px 0px 10px rgb(189, 189, 189) inset;
}

.barangay-list > li:hover {
    transform: translateY(-5%);
    background-color: var(--darkBlue);
    color: white;
    box-shadow: 0px 0px 5px black, 0px 0px 0px white inset;
}

.dropdown-button {
    width: 100px;
    aspect-ratio: 16/9;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-family: var(--subtitle-font);
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    filter: drop-shadow(0px 2px 5px black);
    cursor: pointer;
}

.barangay-list:has(+ .dropdown-button:hover) {
    filter: drop-shadow(0px 0px 10px white);
}

@media screen and (max-width: 500px) {
    .history {
        margin-bottom: 100%;
        height: 1000px; 
    }
    .history-wrapper {
        width: 80%;
    }
    .pdf-wrapper {
        margin-top: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .side-navigation {
        z-index: 100;
        transform: scale(0.6);
        right: -1%;
    }

    .history {
        margin-bottom: 50%;

    }
    .member-wrapper {
        
    }

}