#newsButton {
    width: 90px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    font-weight: 700;
    border-radius: 50px;
    background: var(--darkGreen);
    color: rgb(243, 233, 233);
    cursor: pointer;
}

#newsButtons:hover,
#anns-Button:hover {
    filter: drop-shadow(0px 0px 10px var(--darkGreen)); 
    text-shadow: 0px 0px 60px rgba(34, 30, 30, 0.8); 
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
}

.news-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(124, 152, 133, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18);    
    border-radius: 50px;

    transition: all 0.3s ease;
    opacity: 0;
}
#newsButtons {
    position: relative;
    color: black;
    font-weight: bold;
    background: none;
    z-index: 2;
    width: 90px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    border-radius: 50px;
    cursor: pointer;
}

#newsButtons::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0.5;
    border-radius: inherit;
    z-index: 1;
}
#newsButtons::after {
content: "";
    position: absolute;
    top: 5px;  
    left: 5px;  
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    border-radius: inherit;
    z-index: 0;
}
#newsButtons span {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#anns-Button {
    position: relative;
    color: black;
    font-weight: bold;
    background: none;
    z-index: 2;
    width: 170px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    border-radius: 50px;
    cursor: pointer;
}

#anns-Button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0.5;
    border-radius: inherit;
    z-index: 1;
}
#anns-Button::after {
content: "";
    position: absolute;
    top: 5px;  
    left: 5px;  
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    border-radius: inherit;
    z-index: 0;
}
#anns-Button span {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.page {
    background: linear-gradient(to bottom, #28666e, #033f63);
    height: 100vh;

}

.navsnews {
    width: fit-content;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    position: relative;
}
.navsnews > ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
}
.navsnews > ul > * {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 100px;
}
.navsnews > ul > * > li {
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.navsnews > ul > *:hover > li {
    background-color: var(--darkGreen);
    border-radius: 50px;
    color: black;
}


/* JUST TO MAKE NEWS UNDERLINED*/
.nav-news {
    position: relative;
    display: inline-block;
}

.nav-news::after {
    content: '';
    position: absolute;
    bottom: -5px; /* space between text and underline */
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.box {
    display: block;
    padding: 20px;
    margin: 20px;
    height: 500px;
    background: aqua;
    opacity: 0.2;
    border: 2px solid violet;
    font-size: 20px;
    margin-top: 100px;
    border-radius: 50px;

}