#newsButton {
    width: 90px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    font-weight: 700;
    border-radius: 50px;
    background: var(--darkGreen);
    color: rgb(243, 233, 233);
    cursor: pointer;
}

#newsButtons:hover,
#anns-Button:hover {
    filter: drop-shadow(0px 0px 10px var(--darkGreen)); 
    text-shadow: 0px 0px 60px rgba(34, 30, 30, 0.8); 
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
}

.news-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(124, 152, 133, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18);    
    border-radius: 50px;

    transition: all 0.3s ease;
    opacity: 0;
}
#newsButtons {
    position: relative;
    color: black;
    font-weight: bold;
    background: none;
    z-index: 2;
    width: 90px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    border-radius: 50px;
    cursor: pointer;
}
#anns-Button::before,
#newsButtons::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0.5;
    border-radius: inherit;
    z-index: 1;
}
#anns-Button::after,
#newsButtons::after {
content: "";
    position: absolute;
    top: 5px;  
    left: 5px;  
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    border-radius: inherit;
    z-index: 0;
}
#newsButtons span {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#anns-Button {
    position: relative;
    color: black;
    font-weight: bold;
    background: none;
    z-index: 2;
    width: 170px;
    height: 40px;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
    border-radius: 50px;
    cursor: pointer;
}



#anns-Button span {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #3b8d99, #6b6b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.page {
    background: linear-gradient(to bottom, #28666e, #033f63);

}

.navsnews {
    width: fit-content;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    position: relative;
}
.navsnews > ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-family: var(--subtitle-font);
    font-size: var(--nav-fontsize);
}
.navsnews > ul > * {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 100px;
}
.navsnews > ul > * > li {
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.navsnews > ul > *:hover > li {
    background-color: var(--darkGreen);
    border-radius: 50px;
    color: black;
}


/* JUST TO MAKE NEWS UNDERLINED*/


.box {
    display: block;
    padding: 0px;
    margin: auto;
    height: 720px;
    width: 1000px;
    flex-direction: column;
    background: linear-gradient(
        to bottom,
            rgba(255,255,255,0.6),
            rgba(255,255,255,0)
    );
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    margin-top: 100px;
    border-radius: 50px;
    align-items: center;
    
}


.news-image {
    height: 492px;
    width: 1000px;
}

.news1 {    
    width: 100%;
}

.headline{
    font-size: 40px;
    color: black;
    text-align: left;
    margin: 20px 90px 15px 20px;
}

.ndnt-bar{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 500px;
}

.name{
    color: #6B6666;
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
}

.dnt{
    color: #6B6666;
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
}

.sub-box{
    border-radius: 50px;
    display: block;
    justify-content: flex-start;
    margin: 20px;
    background: rgb(217, 217, 217,.5);
    height: 500px;
    width: 400px;
    padding: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    cursor: pointer;
}

.news-image2 {
    border-radius: 50px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.news2{
    width: 100%;
}

.sub-headline{
    font-size: 25px;
    color: black;
    text-align: left;
    margin: 10px 90px 15px 20px;
}

.date{
    text-align: center;
    font-size: 20px;
    color: #6B6666;
}

.sub-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    gap: 1px;
    margin-bottom: -50px;
}

.news-desc-popup {
    border-radius: 50px;
    width: 60%;
    padding: 20px;
    aspect-ratio: 16/9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: var(--subtitle-font);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 10;
}
.news-desc-popup.active {
  opacity: 1;
  pointer-events: auto;
}

.head-text {    
    width: 90%;
    height: 10%;
    padding: 20px;
}
#popupHeadline {
    font-weight: 700;
    font-size: 30px;
}
.news-desc {
    width: 90%;
    height: 70%;
    padding: 20px;
    color: white;
    font-weight: 600;
}
#popup-close{
    width: 50px;
    position: absolute;
    background-color: rgba( 0, 0, 0, 0 );
    right: 1%;
    top: 5%;
    transition: all 0.3s ease;
    cursor: pointer;
}
#popup-close:hover {
    transform: scale(1.1);
}
#popup-close > img {
    width: 100%;
    aspect-ratio: 1;
}